<div class="container">
  <div class="col-md-12 filemanager-header">
    <div class="col-xs-1">
      <i class="material-icons">
        home
      </i>
    </div>
    <div class="col-xs-1">
      <i class="material-icons">
        refresh
      </i>
    </div>
  </div>
  <div>
    <ul [hidden]="this.loading">
      <li *ngIf="previousfolder!=undefined" (click)="this.SelectedFolder(previousfolder)">
        <i class="material-icons">
          folder
        </i> ...
      </li>
      <li *ngFor="let vlist of fileDetail">
        <div *ngIf="vlist.Type=='Folder'" (click)="this.SelectedFolder(vlist.Key,vlist?.prefix)">
          <i class="material-icons">
            folder
          </i> {{vlist.Key}}
        </div>
        <div *ngIf="vlist.Type=='File'">
          <i class="fa fa-file" aria-hidden="true"></i>
          <div style="display: inline-block">
            <div> {{vlist.Key}}</div>
            <div>{{vlist.LastModified | date}}</div>
          </div>
        </div>
      </li>
    </ul>
    <div class="spinner-area">
      <mat-spinner [hidden]="!this.loading"></mat-spinner>
    </div>
  </div>
</div>