ul {
    list-style-type: none;
    padding: 0;
}

li:nth-child(odd) {
    background-color: #00000006;
    padding: 15px;
}

li:nth-child(even) {
    background-color: #fff;
    padding: 15px;
}

li:hover {
    background: #0000000d;
    cursor: pointer;
}

.filemanager-header {
    padding: 10px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.fa {
    font-size: 30px;
}

.col-xs-1 {
    max-width: 60px;
    display: inline-block;
    width: 100%;
}

.filemanager-header .fa {
    font-size: 20px;
}

.fa {
    color: #7a878e;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    color: #7a878e;
}

.spinner-area {
    display: flex;
    height: 80vh;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    justify-content: center;
}