.body-bg {
  position: relative;
  margin: 0;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  min-height: 100%;
  background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
  color: #777;
  height: 100vh;
}

.bg__color {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #6772e5), color-stop(14%, #6772e5), color-stop(100%, #4de7e7));
  background: -webkit-linear-gradient(334deg, #6772e5 0%, #6772e5 14%, #4de7e7 100%);
  background: linear-gradient(116deg, #6772e5 0%, #6772e5 14%, #4de7e7 100%);
}

.modal {
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}