.profile__body {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  justify-content: center;
}

.profile__form {
  background: white;
  padding: 3em;
  border-radius: .25em;
  -webkit-filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.2));
  transition: opacity .4s ease-in-out, height .4s ease-in-out, transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  max-width: 320px;
  width: 100%;
}

.profile__fields {
  transition: opacity .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.profile__avatar {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1.25em;
  overflow: hidden;
  width: 4.5em;
  height: 4.5em;
  display: block;
  transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  will-change: transform;
}

.profile__avatar:focus {
  outline: 0;
}

.profile__footer {
  padding-top: 1em;
}

/* Form */

.field {
  position: relative;
  margin-bottom: 2em;
}

.label {
  position: absolute;
  height: 2rem;
  line-height: 2rem;
  bottom: 0;
  color: #999;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.input {
  width: 100%;
  font-size: 100%;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 2rem;
  line-height: 2rem;
  border-bottom: 1px solid #eee;
  color: #777;
  transition: all .2s ease-in;
}

.input:focus {
  outline: 0;
  border-color: #9e9e9e;
}

.input:focus+.label,
input:valid+.label {
  transform: translateY(-100%);
  font-size: 0.75rem;
  color: #9e9e9e;
}

/* Button */

input:hover,
input:focus,
input:active,
label:hover,
label:focus,
label:active {
  cursor: auto;
}
button:hover,
button:focus,
button:active{
cursor: pointer;
}
.btn {
  border: 0;
  font-size: 0.75rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  color: white;
  background: #8E49E8;
  text-transform: uppercase;
  border-radius: .25rem;
  letter-spacing: .2em;
  transition: background .2s;
}

.btn:focus {
  outline: 0;
}

.btn:hover,
.btn:focus {
  background: #A678E2;
}

/* Intro animation */

@keyframes intro {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}




