<div class="profile__body">
  <div class="profile__form">
    <div class="profile__fields">
      <div class="field">
        <input type="text" id="fieldUser" class="input" required pattern=.*\S.* />
        <label for="fieldUser" class="label">Username</label>
      </div>
      <div class="field">
        <input type="password" id="fieldPassword" class="input" required pattern=.*\S.* />
        <label for="fieldPassword" class="label">Password</label>
      </div>
      <div class="profile__footer">
        <button class="btn">Login</button>
      </div>
    </div>
    <div class="form-group">
      <button type="buton" style="background-color: #3b5998" class="btn btn-block" (click)="signInWithFacebook()">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        Login with Facebook
      </button>
      <button type="button" style="background: #0084b4" class="btn btn-block" (click)="signInWithTwitter()">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        Login with Twitter
      </button>
      <button type="button" style="background:#db3236" class="btn btn-block" (click)="signInWithGoogle()">
        <i class="fa fa-google" aria-hidden="true"></i>
        Login with Google
      </button>
    </div>
  </div>
</div>

